// Variables
//
// Variables include colors, fonts, grids, and spacing.
//
// Styleguide 1.0

// Background Colors
// 
// Background colors can be acheived using the BEM methodology. Append "--{nameOfColor}" to the end of your main class and add to text string.
// Such as "swatch swatch--darkblue" for a darkblue background.
//
// --darkblue - dark blue
// --midblue - mid blue
// --lightblue - light blue
// --owblue - off white blue
// --darkgreen - dark green
// --lightgreen - light green
// --owgreen - off white green
// --red - red
// --purple - purple
// --tan - tan
// --ow - off white
//
// markup:
// <div class="swatch swatch{$modifiers}">{$modifiers}</div>
//
// Styleguide 1.1

// Blues
$darkblue: #14347A;
$midblue: #30528e;
$lightblue: #ACBDE3;
$owblue: #E1E7F2;
$offblue: #658ec8;

//Greens
$darkgreen: #32BFBB;
$lightgreen: #A7D4B6;
$owgreen: #F3FAF2;
$aquagreen: #11cbb6;

//Red
$red: #DB544D;

//Orange
$orange: #ff8746;
$orange2: #f67a15;
$orange--light: lighten($orange, 10%);
$orange2--light: lighten($orange2, 10%);
$orange--dark: darken($orange, 10%);
$orange2--dark: darken($orange2, 10%);

//Purple
$purple: #744C75;

//Tan
$tan: #E8B3A2;

//Elements
$grey__form: #c8c8c8;

//Menu
$lightblue__menu: #5991dd;
$midblue__menu: #4684d9;
$darkblue__menu: #386db8;
$darkblue__menu-2: #3669b4;
$midblue__menu-2: #3774c4;

//Fonts
$grey__font: #b7babe;
$dark-grey__font: #868b92;

//Off White
$ow: #FCFAFA;

//AR Brand Colors
$ar-orange: #FF7900;
$ar-teal: #41C4E1;
$ar-drk-blue: #214E8E;
$ar-purple: #6E298D;
$ar-lgt-grey: #BBBCBC;


//Roboscout RSP Dashboard Colors 
$rs-orange: #ff9e2a;
$rs-drk-blue: #5f7ca6;
$rs-med-gray: #77797c;
$rs-blue: #20a9e4;
$rs-lgt-gray: #999898;
$rs-green: #06d981;
$rs-yellow: #ffc000;
$rs-red: #da2c40;


//Background Colors
$bg-gray: #e4e8ed;
$border-gray: #d9dbdf;

// Font Colors
//
// --darkblue--color - dark blue
// --midblue--color - mid blue
// --lightblue--color - light blue
// --owblue--color - off white blue
// --darkgreen--color - dark green
// --lightgreen--color - light green
// --owgreen--color - off white green
// --red--color - red
// --purple--color - purple
// --tan--color - tan
// --ow--color - off white
//
// markup:
// <div class="text-box text-box{$modifiers}"><span>Text Example</span></div>
//
// Styleguide 1.2


// AR Brand Colors
//
// ##### **Colors Best Practices:** #####
// When selecting colors for you application, first look to the leverage any possible AR Brand Colors. If these colors do not work for your appication or need, please utilize any of the following color g
// generator tools to create a cohesive color pallette for your UI needs: [colors.io](http://coolors.co/), [Adobe Color Wheel](https://color.adobe.com/create/color-wheel/). Also tools such as [collor.com]
// (http://colllor.com/) can assist with selecting different hue values for active, hover states for elements. 	
//
// --ar-orange - Orange Primary
// --ar-teal - Teal
// --ar-drk-blue - Dark Blue
// --ar-purple - Purple
// --ar-lgt-grey - Light Gray
//
// markup:
// <div class="swatch swatch{$modifiers}">{$	modifiers}</div>
//
// Styleguide 1.3


// RoboScout Dashboard Colors
//
//
// ##### **Colors** #####
//
// --rs-orange - Alert Orange
// --rs-drk-blue - Dark Blue
// --rs-med-gray - Medium Gray
// --rs-blue - Blue 
// --rs-lgt-gray - Light Gray
// --rs-red - Red
// --rs-yellow - Yellow
// --rs-green - Green
// --bg-gray - Background Gray for Dashbaord pages
//
// markup:
// <div class="swatch swatch{$modifiers}">{$modifiers}</div>
//
// Styleguide 1.4

