$icomoon-font-path: "fonts" !default;

$icon-add-circle: "\e900";
$icon-alert-icon: "\e90a";
$icon-alerts-bell: "\e90b";
$icon-collapse-icon: "\e90c";
$icon-down-arrow: "\e90d";
$icon-expand-icon: "\e90e";
$icon-left-arrow: "\e90f";
$icon-link: "\e910";
$icon-right-arrow: "\e911";
$icon-shield: "\e912";
$icon-up-arrow: "\e913";
$icon-pencil: "\e901";
$icon-check2: "\e935";
$icon-playlist_add_check: "\e922";
$icon-playlist_add: "\e923";
$icon-leak_add: "\e924";
$icon-search: "\e902";
$icon-open_in_browser: "\e903";
$icon-open_in_new: "\e904";
$icon-folder_open: "\e905";
$icon-subdirectory_arrow_right: "\e906";
$icon-subdirectory_arrow_left: "\e907";
$icon-square-check: "\e92f";
$icon-circle-check: "\e933";
$icon-check: "\e934";
$icon-trash: "\e925";
$icon-circle-minus: "\e926";
$icon-minus2: "\e927";
$icon-plus: "\e928";
$icon-square-cross: "\e929";
$icon-circle-cross: "\e92a";
$icon-cross: "\e92b";
$icon-arrow-right: "\e908";
$icon-clock: "\e909";
$icon-trashcan: "\e92d";
$icon-eye: "\e914";
$icon-pencil2: "\e915";
$icon-search2: "\e916";
$icon-move: "\e917";
$icon-sunrise: "\e918";
$icon-dawn: "\e918";
$icon-weather: "\e918";
$icon-sun: "\e919";
$icon-weather2: "\e919";
$icon-pencil22: "\e91a";
$icon-copy: "\e92c";
$icon-folder-open: "\e930";
$icon-folder-plus: "\e931";
$icon-folder-minus: "\e932";
$icon-location: "\e947";
$icon-location2: "\e948";
$icon-drawer: "\e95c";
$icon-drawer2: "\e95d";
$icon-floppy-disk: "\e962";
$icon-eye2: "\e9ce";
$icon-loop2: "\ea2e";
$icon-arrow-right2: "\ea3c";
$icon-chrome: "\ead9";
$icon-firefox: "\eada";
$icon-IE: "\eadb";
$icon-edge: "\eadc";
$icon-safari: "\eadd";
$icon-opera: "\eade";
$icon-calendar: "\e91b";
$icon-minus: "\e92e";
$icon-back-in-time: "\e91c";
$icon-search22: "\e91d";
$icon-one-finger-click: "\e91e";
$icon-lock-open: "\e91f";
$icon-lock: "\e920";
$icon-sunset: "\e921";

