// Form Inputs
//
// Based on the bootstrap button this has been altered slightly to give us a good base toward our custom styles.
//
// markup:
// <form-el type="dropdown"></form-el>
// 
//
// Styleguide 5.1


//This is how the form el page is selected -- @HELP
.form-group{
	color: $grey__font;
	label{
		font-weight: 400;
		padding-bottom: 2.5px;
	}
	input {
		font-weight: 100;
		border: 1px solid $grey__form;
	}

	.hierarchy--2{
	  margin-left:5px;
	}

	.hierarchy--3{
	   margin-left:10px;
	}
}
//UI overrides for bootstrap
.dropdown{
	.ui-select-bootstrap .ui-select-toggle > .caret {
		border: none;
	}
	.ui-select-bootstrap .ui-select-match-text span.glyphicon{
		top: -2px;
		width: 20px;
	}
	.ui-select-bootstrap > .ui-select-choices,
	.ui-select-bootstrap > .ui-select-no-choice{
		width: 99%;
		overflow: hidden;
	}
}

