// RoboScout UI: Form Inputs
//
// Based on the bootstrap button this has been altered slightly to give us a good base toward our custom styles.
//
// markup:
// <form>
//  <label>Username:</label>
//  <input type="text">
//  <label>Password:</label>
//  <input type="password" name="psw">
//  <label>Select an option:</label>
//  <div class="select-wrap"> 
//    <select>
//         <option value="scout">RoboScout</option>
//         <option value="mma">MMA</option>
//         <option value="history">History Manager</option>
//         <option value="nike">Nike</option>
//         <option value="config">Kiva Config</option>
//    </select>
//    <span class="icon-down-arrow"></span>
//  </div>
//  <div class="form-group">
//        <input type="radio" name="pet" value="male" checked> Cat<br>
//        <input type="radio" name="pet" value="female"> Dog<br>
//        <input type="radio" name="pet" value="other"> Other<br>
//  </div>
//  <div class="form-group">
//      <input type="checkbox" name="vehicle1" value="Bike"> I have a bike<br>
//      <input type="checkbox" name="vehicle2" value="Car"> I have a car 
//  </div>
// </form>
//
// Styleguide 5.1


//This is how the form el page is selected -- @HELP
.form-group{
	color: $grey__font;
	label{
		font-weight: 400;
		padding-bottom: 2.5px;
	}
	input {
		font-weight: 100;
		border: 1px solid $grey__form;
	}

	.hierarchy--2{
	  margin-left:5px;
	}

	.hierarchy--3{
	   margin-left:10px;
	}
}
//UI overrides for bootstrap
.dropdown{
  .form-control{
    width: 100% !important;
  }
	.ui-select-bootstrap .ui-select-toggle > .caret {
		border: none;
	}
	.ui-select-bootstrap .ui-select-match-text span.glyphicon{
		top: -2px;
		width: 20px;
	}
	.ui-select-bootstrap > .ui-select-choices,
	.ui-select-bootstrap > .ui-select-no-choice{
		width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
		overflow: hidden;
	}
}
.date--wrapper{
  position: relative;
  input{
    border-right: none;
  }
  .input-group-btn button{
    border-left: none;    
  }
  .uib-datepicker-popup{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    outline: none;
    table{
      width: 100%;
    }
  }
}

// Special Checkbox
//
// A slider for on off switch.
//
//blue - blue theme
//orange - orange theme
//
//
// markup:
// <div class="bool-slider {$modifiers} off">
// 	<div class="inner">
// 		<div class="bool-slider-value off-value bool-slider-inline">
// 			<span class="text label">Off Value</span>
// 		</div>
// 		<div class="slider bool-slider-inline">
// 			<div class="track btn btn--modal">
// 				<div class="bubble"></div>
// 			</div>
// 		</div>
// 		<div class="bool-slider-value on-value bool-slider-inline">
// 			<span class="text label">On Value</span>
// 		</div>
// 	</div>
// </div>
//
//
// Styleguide 5.2

@mixin widget_coloring($color){
		.bubble{
			background: $color;
	    }
	    .track{
			background: lighten($color, 25%);
	    }
}

.bool-slider{
	height: 50px;
    display: inline-block;
    span{
		color: $grey__font;
    }
    .inner{
    	position: relative;
    	margin: 0 auto;
    }
    .bool-slider-inline{
    	display: inline-block;
    	outline: none;
    }
    .bubble{
    	position: absolute;
    	height: 20px;
    	width: 20px;
    	border-radius: 50%;
    	top: -5.5px;
    }
    .track{
		position: relative;
		margin: 22.5px 0;
		height: 10px;
		width: 50px;
		padding: 0;
		@include uniform-br(10%, 45%);
    }
    // on off settings for widget
    &.off{
    	.bubble{
    		left: -2px;
    		right: auto;
    	}
    }
    &.on{
    	.bubble{
    		right: -2px;
    		left: auto;
    	}
    }
    &.aqua{
    	.bubble{
    		background: $ow;
    	}
		.track{
    		background: $offblue;
    	}
    	.on-value span{
			display: none;
		}
    	&.off{
			.off-value span{
				display: inline-block;
			}
    	}
    	&.on{
    		.off-value span{
				display: none;
			}
    		.track{
    			background: $aquagreen;
    		}
    	}
	}
    &.blue{
    	@include widget_coloring($midblue);
    	&.off{
			.off-value span{
				color: $midblue;
			}
    	}
    	&.on{
    		.on-value span{
				color: $midblue;
			}
    	}	
	}
   	&.orange{
    	@include widget_coloring($orange);
    	&.off{
			.off-value span{
				color: $orange;
			}
    	}
    	&.on{
    		.on-value span{
				color: $orange;
			}
    	}	
	}
}

