// Headings
//
// Based on the bootstrap button this has been altered slightly to give us a good base toward our custom styles.
//
//
// markup:
// <h1>h1. Heading </h1>
// <h2>h2. Heading </h2>
// <h3>h3. Heading </h3>
// <h4>h4. Heading </h4>
// <h5>h5. Heading </h5>
// <h6>h6. Heading </h6>
//
// Styleguide 3.1

h1, h2, h3, h4, h5, h6{
	font-family: 'BlissPro', sans-serif;
	color: $dark-grey__font;
	font-weight: bold;
	font-style: normal;
}

// Headings Variations
//
// Based on the bootstrap button this has been altered slightly to give us a good base toward our custom styles.
//
// light - weight
// soft-grey - color
// white - color
// 
// markup:
// <h1>h1. Heading (Normal)</h1>
// <h1 class="{$modifiers}">h1. Heading </h1>
//
// Styleguide 3.2

.light{
	font-weight: 300;
}
.soft-grey{
	color: $grey__font;
}
.white{
	color: $ow;
}

// Body
//
// Based on the bootstrap button this has been altered slightly to give us a good base toward our custom styles.
//
// light - weight
// soft-grey - color
// white - color
// lead - make it stand out
// 
// markup:
// <p class="{$modifiers}"> Paragraph </p></br>
// <span class="{$modifiers}"> Span </span></br>
//
// Styleguide 3.3

p, span, label, strong, em{
	font-family: 'Lato', sans-serif;
	color: $dark-grey__font;
}

// Title
//
// Based on the bootstrap button this has been altered slightly to give us a good base toward our custom styles. Inline style used only for the benefit of the styleguide.
// 
// markup:
//  <div class="title title-wrapper" width:"35%">
// 		<div class="left">
//     		<span class="glyphicon glyphicon-time"></span>
// 		</div>
// 		<div class="right">
// 	   		<h4 class="title-text super-title">Welcome to the</h4>
//     		<h2 class="title-text sub-title">History Manager</h2>
// 		</div>
//  </div>
//
// Styleguide 3.4

.title{
	.right,
	.left{
		float:left;
	}
	.left{
		margin-right: 20px;
	}
	.glyphicon{
		font-size: 60px;
		color: $midblue__menu;
		margin-top: 10px;
		@include font_light;
	}
	.right{
		h4{
			margin-bottom: 5px;
			@include font_light;
		}
		h2{
			margin-top: 5px;
		}
	}
}

// Boxed title with icon
//
// Heading with icon.
// 
// markup:
//  <div class="boxed-heading title">
// 		<div class="left">
//			<h4 class="title-text super-title">Welcome to the</h4>
// 		</div>
// 		<div class="right"> 		
//     		<span class="glyphicon glyphicon-cog"></span>
// 		</div>
//  </div>
//
// Styleguide 3.5
.boxed-heading{
	display: inline-block;
	background: $midblue__menu-2;
	.title-text{
		padding: 0px 10px;
		color: #fff;
		@include font_mid;
	}
	.right{
		background: $darkblue__menu-2;
	}
	.glyphicon{
	    font-size: 29px;
    	padding: 5px 10px;
		color: #fff;
		margin-top: 0;
	}

} 

// Typography
//
// Primary branded font-family and typography for AR applications. AR Branding guidelines approves three main typography families:  
// 
// **BLISS PRO:** Primary headline typography for AR Products to be used for elements such as page titles, large headlines, and h1-h6
//
// **HELVETICA NEUE:** Primary paragraph typography to be used for for main paragraph and body text content. 
//
// **ARIAL:** Secondary paragraph typography to be used for main paragraph and body text content.
//
//
// **Typography Best Practices:**
// Whenever possible, AR Branded applications should utilize these brand approved fonts for any typography needs. Additional typography and font-families available should remain cohesive to the aesthetic styling of the brand approved fonts. To ensure legibility, base font colors should be determined by the background color of the parent element. For lighter backgrounds utilize dark font colors between #000000 and #888888. For dark background colors, utilize light font colors between #999999 and #FFFFFF. 
// 
// Additional Typographys can be curated and utilized within your application. To assist the search for additional typography needs, [Google Fonts](https://fonts.google.com/) is a great resource for royalty 
// free webfonts and typographies with customization capabilities for import/embedding webfonts in your UI. Note: Additional typographies may be subject to review by AR branding team. 
//
// markup:
// <h1>Bliss Pro</h1>
// <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz 0 1 2 3 4 5 6 7 8 9 ! @ # $ % ^ & * ( ) _ - +</p>
// <h1 class="secondary-font">Helvetica Neue</h1>
// <p class="secondary-font">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz 0 1 2 3 4 5 6 7 8 9 ! @ # $ % ^ & * ( ) _ - +</p>
// <h1 class="tertiary-font">Arial</h1>
// <p class="tertiary-font">Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz 0 1 2 3 4 5 6 7 8 9 ! @ # $ % ^ & * ( ) _ - +</p>
//
// Styleguide 3.6

h1 {
	font-family: 'BlissPro', sans-serif;
	color: $dark-grey__font;
	font-weight: bold;
	font-style: normal;
}

.secondary-font {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: normal;
}

.tertiary-font {
	font-family: "Arial", sans-serif;
	font-weight: normal;
}