// Menu Bar
//
// Based on the bootstrap button this has been altered slightly to give us a good base toward our custom styles.
//
// default - float left
// orange - orange theme
//
// markup:
// <div class="menu-bar {$modifiers}">
//  <div class="menu-title title-wrapper">
//     <span class="glyphicon glyphicon-time"></span>
//     <h2 class="title"><strong>History</strong> Manager</h2>
//  </div>
//  <div class="button-wrapper">
//	<a class="btn primary btn--modal menu-item" href="#" role="button">
// 		One Page
//	</a>
//	<a class="btn primary btn--modal menu-item" href="#" role="button">
// 		Second One
//	</a>
// </div>
// </div>
//
// Styleguide 6.1

.menu-bar{
	background: $midblue__menu-2;
	padding: 10px 0px 10px 20px;
	overflow: hidden;
	&.orange{
		background: $orange2;
		.menu-title .glyphicon{
			color: $orange2--dark;
		}
	}
	.title-wrapper,
	.button-wrapper{
		height: 30px;
	}
	.title-wrapper{
		float: left;
	}
	.button-wrapper{
		float:right;
		text-align: right;
	}
	.menu-title{
		padding-top: 5px;
		h2{
			font-size: 20px;
			display: inline;
			font-weight: 100;
			color: #fff;
			margin: 0;
			strong{
				// display: inline-block;
				font-weight: 500;
				color: #fff;
			}
		}
		.glyphicon{
			color: $darkblue;
			margin-right: 10px;
		}
	}
}

// Menu Items
//
// Based on the bootstrap button this has been altered slightly to give us a good base toward our custom styles.
//
// active - active state
// :hover - hover state
//
// markup:
// <div class="menu-bar">
//  <div class="menu-title title-wrapper">
//     <span class="glyphicon glyphicon-time"></span>
//     <h2 class="title"><strong>History</strong> Manager</h2>
//  </div>
//  <div class="button-wrapper">
//	<a class="btn primary btn--modal menu-item" href="#" role="button">
// 		One Page
//	</a>
//	<a class="btn primary btn--modal menu-item {$modifiers}" href="#" role="button">
// 		Second One
//	</a>
//	<a class="btn primary btn--modal menu-item" href="#" role="button">
// 		Three Page
//	</a>
//	<a class="btn primary btn--modal menu-item" href="#" role="button">
// 		Four Page
//	</a>
// </div>
// </div>
//
// Styleguide 6.2

.menu-item{
	background: $midblue__menu-2;
	margin: 0 10px;
	display: inline-block;
	font-weight: 100;
	&:hover{
		background: $lightblue__menu;
		color: $ow;
		// font-weight: 300;
	}
}
.menu-item.active{
	background: $lightblue__menu;
	box-shadow: none;
	color: $ow;
	font-weight: 300;
}
.orange{
	.menu-item{
	background: $orange2;
		&:hover{
			background: $orange2--light;
		}
	}
	.menu-item.active{
		background: $orange2--light;
	}
}



// RoboScout Nav Bar
//
// Based on the bootstrap button this has been altered slightly to give us a good base toward our custom styles.
//
//
// markup:
// <header role="header" class="header-wrap--rs-drk-blue">
//  <div class="logo">
//		<h1><a href=""><img class="rs-logo" src="assets/img/logos/roboscout/roboscout-logos-two-tone-gray-white.svg" /></a></h1>
//	</div>
//  <nav class="primary-nav">
//		<ul class="menu">
//			<li class="item"><a href="">Dashboards</a></li>
//			<li class="item has-children"><a href="">Stations</a>
//				<ul class="sub-menu">
//					<li class="item-child"><a href="">Test Link 1</a></li>
//					<li class="item-child"><a href="">Test Link 2</a></li>
//					<li class="item-child"><a href="">Test Link 3</a></li>
//				</ul>
//			</li>
//			<li class="item"><a href="">Gamification</a></li>
//			<li class="item"><a href="">WebScripts</a></li>
//			<li class="item has-children"><a href="">Edit</a>
//				<ul class="sub-menu">
//					<li class="item-child"><a href="">Test Link 1</a></li>
//					<li class="item-child"><a href="">Test Link 2</a></li>
//					<li class="item-child"><a href="">Test Link 3</a></li>
//				</ul>
//			</li>
//			<li class="item has-children"><a href="">Apps</a>
//				<ul class="sub-menu">
//					<li class="item-child"><a href="">Test Link 1</a></li>
//					<li class="item-child"><a href="">Test Link 2</a></li>
//					<li class="item-child"><a href="">Test Link 3</a></li>
//				</ul>
//			</li>
//  </nav>
//	<div class="search-bar">
//   	<input type="text" class="search-field" name="searchterm" maxlength="30" placeholder="Search">
//      <span class="icon-search"></span>
//	</div>
//  <nav class="toolbar-nav">
//		<ul class="toolbar-menu">
//			<li class="item alert-bubble"><span class="icon-alerts-bell"></span>
//				<span class="alert-number">3</span>
//			</li>
//			<li class="item"><span class="icon-link"></span></li>
//			<li class="item"><span class="icon-add-circle"></span></li>
//			<li class="item"><span class="icon-shield"></span></li>
//          <!-- FC Floor Selection -->
//			<li class="item has-children"><a href=""><span class="fc-emblem">F</span> FCA1-A01</a>
//			</li>
//			<li class="item has-children"><a href="">Hi, Sunil</a>
//				<ul class="user-sub-menu">
//					<li class="item-child"><a href="">Test Link 1</a></li>			
//					<li class="item-child"><a href="">Test Link 1</a></li>			
//					<li class="item-child"><a href="">Test Link 1</a></li>			
//				</ul>
//			</li>
//			<li class="item"><a href="">Help</a></li>				
//		</ul>	
//  </nav>
// </header>
//
// Styleguide 6.3