// Slider Base
// 
// Range slider (pure css) for use in angular directive
//
// markup:
// <range-slider theme='standard' default='40' labels='{}'></range-slider>
//
// Styleguide 4.4

$track-color: $grey__form;
$thumb-color: $ow;

$thumb-radius: 50%;
$thumb-height: 20px;
$thumb-width: 20px;
$thumb-border-width: 1px;
$thumb-border-color: $midblue;

$track-width: 100%;
$track-height: 5px;

$track-radius: 5px;
$contrast: 5%;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
  box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0 0 $shadow-size lighten($shadow-color, 5%);
}

@mixin track() {
  width: $track-width;
  height: $track-height;
  cursor: pointer;
  transition: all .2s ease;
}

@mixin thumb() {
  height: 1px;
  width: 1px;
  cursor: pointer;
}

@mixin thumb2() {
  border: $thumb-border-width solid $thumb-border-color;
  height: $thumb-height;
  width: $thumb-width;
  border-radius: $thumb-radius;
  background: $thumb-color;
  cursor: pointer;
}

.range-slider--wrapper {
    position: relative;
}

.trackingbar{
  @include track;
  transition: all .025s ease;
  background: $midblue;
  position: absolute;
  top: 0;
  border-radius: $track-radius;
  z-index: 2;
  pointer-events:none;
}
.trackingbubble{
  @include thumb2;
  position: absolute;
  pointer-events:none;
  top: -7.5px;
  z-index: 3;
}

[type=range] {
  -webkit-appearance: none;
  margin: $thumb-height / 2 0;
  width: $track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    @include track();
    background: $track-color;
    border-radius: $track-radius;
  }

  &::-webkit-slider-thumb {
    @include thumb();
    -webkit-appearance: none;
    margin-top: ($track-height / 2) - ($thumb-height / 2);
  }

  &:focus::-webkit-slider-runnable-track {
    background: lighten($track-color, $contrast);
  }

  &::-moz-range-track {
    @include track();
    background: $track-color;
    border-radius: $track-radius;
  }

  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-track {
    @include track();
    background: transparent;
    border-color: transparent;
    border-width: $thumb-width 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: darken($track-color, $contrast);
    border-radius: $track-radius * 2;
  }

  &::-ms-fill-upper {
    background: $track-color;
    border-radius: $track-radius * 2;
  }

  &::-ms-thumb {
    @include thumb();
  }

  &:focus::-ms-fill-lower {
    background: $track-color;
  }

  &:focus::-ms-fill-upper {
    background: lighten($track-color, $contrast);
  }
}